.sidebar {
  align-self: stretch;
  width: 20rem;

  &__brand {
    display: flex;
    align-items: center;
    img {
      width: 5rem;
      height: 5rem;
    }
    span {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  &__greeting {
  }
}
