@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "PT Sans", sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #444;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }

* > li {
  list-style: none; }

* > a {
  text-decoration: none;
  color: inherit; }

#root {
  min-width: 100%; }

.login {
  background: linear-gradient(135deg, rgba(203, 180, 212, 0.3) 0%, #e3eeff 100%);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #555; }
  .login__form {
    width: 35rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px; }
    .login__form--brand {
      color: #444c5c;
      font-weight: bold;
      font-size: 4rem;
      margin-top: 1rem; }
    .login__form--username {
      display: block;
      outline: none;
      border: none;
      height: 5rem;
      padding: 1rem;
      font-size: 2.3rem;
      border-radius: 4px;
      margin: 3rem 0; }
    .login__form--button {
      display: block;
      color: #f8f8f8;
      font-size: 2.3rem;
      font-weight: bold;
      width: 13rem;
      height: 5rem;
      background-color: #444c5c;
      border: 3px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s; }
      .login__form--button:hover {
        color: white;
        background-color: #ce5a57; }

.chat {
  background: linear-gradient(135deg, rgba(203, 180, 212, 0.3) 0%, #e3eeff 100%);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: #555; }

.sidebar {
  align-self: stretch;
  width: 25rem;
  display: flex;
  flex-direction: column; }
  .sidebar__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0; }
    .sidebar__brand img {
      width: 5rem;
      height: 5rem;
      margin-right: 1rem; }
    .sidebar__brand span {
      font-size: 3rem;
      font-weight: 700; }
  .sidebar__greeting {
    border-top-right-radius: 10px;
    background-color: #444c5c;
    color: #f8f8f8;
    font-size: 3rem;
    padding: 1.5rem; }

.online {
  background-color: #444c5c;
  flex: 1;
  color: #f8f8f8; }
  .online__header {
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: 0.5rem;
    border-top: 2px solid white; }

.onlinelist__item {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #f8f8f8;
  display: flex;
  align-items: center; }
  .onlinelist__item span {
    margin-right: 0.5rem;
    font-size: 2.5rem; }
    .onlinelist__item span.present {
      color: #42be31; }
    .onlinelist__item span.away {
      color: grey; }

.onlinelist--loading {
  color: #444c5c;
  text-align: center;
  padding: 2rem;
  font-size: 2rem; }

.messages {
  flex: 1;
  display: flex;
  flex-direction: column; }

.messages > * {
  border: 1px solid red; }

.messagelist {
  flex: 1;
  padding-bottom: 3rem; }
  .messagelist__item {
    padding: 0 1.5rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column; }
    .messagelist__item--sender {
      font-size: 1.8rem;
      font-weight: 700; }
    .messagelist__item--message {
      font-size: 2rem; }
