// webfonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,700");

// base
@import "./base";
// components
@import "./components/LoginForm";
@import "./components/ChatScreen";
@import "./components/Sidebar";
@import "./components/Messages";
